flows.json
[{"id":"77207e9c.bfd53","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"4b00e952.7e9638","type":"ui_form","z":"77207e9c.bfd53","name":"","label":"","group":"b5a159b4.12e258","order":1,"width":0,"height":0,"options":[{"label":"Enter the query","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"Submit","cancel":"Cancel","topic":"","x":70,"y":460,"wires":[["db27dfcf.d283c"]]},{"id":"db27dfcf.d283c","type":"function","z":"77207e9c.bfd53","name":"f1","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":360,"wires":[["cfda3591.58cdf8"]]},{"id":"cfda3591.58cdf8","type":"watson-conversation-v1","z":"77207e9c.bfd53","name":"Chatbot","workspaceid":"dbabaebb-44e2-44b3-b492-56a5c191745a","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/fd91b499-83c3-4f31-8f2a-9d0b932e0b2f","timeout":"","optout-learning":false,"x":360,"y":260,"wires":[["343ac063.35bef"]]},{"id":"343ac063.35bef","type":"function","z":"77207e9c.bfd53","name":"f2","func":"if(msg.payload.output.error)\n{\n    msg.payload=\"please rephrase\";\n    return msg;\n}\n\nmsg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":160,"wires":[["6006ee07.5587","12d960c1.a31c6f"]]},{"id":"6006ee07.5587","type":"debug","z":"77207e9c.bfd53","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":240,"wires":[]},{"id":"12d960c1.a31c6f","type":"ui_text","z":"77207e9c.bfd53","group":"b5a159b4.12e258","order":8,"width":0,"height":0,"name":"","label":"Bot","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":60,"wires":[]},{"id":"b5a159b4.12e258","type":"ui_group","z":"","name":"HP Manual ","tab":"d554d7.bffdbb28","order":1,"disp":true,"width":"20","collapse":false},{"id":"d554d7.bffdbb28","type":"ui_tab","z":"","name":"Chatbot","icon":"dashboard","disabled":false,"hidden":false}]